/* galeria.scss */

/* Variables */
$color-sombra: rgba(0, 0, 0, 0.1);
$border-radius-imagen: 8px;

/* Mixin para sombra */
@mixin sombra($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}


.galeria {
  padding: 40px 20px;

  .game-section {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }


  img {
    border-radius: $border-radius-imagen;
    @include sombra(0, 4px, 10px, 0, $color-sombra);
  }
}


@media (max-width: 768px) {
  .galeria {
    padding: 20px 10px;

    .game-section h2 {
      font-size: 22px;
    }

    .game-section h3 {
      font-size: 18px;
    }
  }
}
