/* general.scss */

/* Variables */
$color-fondo: #333;
$color-blanco: white;
$color-secundario: #444;
$font-family: Arial, sans-serif;
$padding-base: 20px;
$border-radius-base: 8px;


/* estilos generales */


body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;


  display: flex;
  flex-direction: column;
  min-height: 100vh;

  p {
    color: $color-blanco;
  }
}

.titulo {
  color: $color-blanco;
  text-align: center;
  margin-bottom: $padding-base;
}


header {
  background-color: $color-fondo;
  color: $color-blanco;
  text-align: center;
  padding: 1px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding-block: 12px;
  backdrop-filter: blur(4px);
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white !important;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  padding-inline: 20px;
  transition: color 0.3s ease;

  &:hover {
    color: #0dcaf0 !important; // celeste neon
  }
}


/* contenido principal */


main {
  padding: $padding-base;
  padding-bottom: 100px;
  flex: 1;   
}


footer {
  height: 50px;
  background-color: $color-fondo;
  color: $color-blanco;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;     
}


@media (max-width: 768px) {
  nav {
    ul {
      li {
        width: 100%;
        border-bottom: 1px solid #555;

        a {
          font-size: 14px;
          padding: 8px 10px;
          text-align: center;
        }
      }
    }
  }

  footer {
    height: 63px;
    padding: 8px;
  }

  .nosotros p {
    text-align: center;
    padding: 0 10px;
  }

  #imagennosotros {
    width: 100%;
    margin-bottom: 20px;
  }

  .galeria img {
    width: 100%;
  }

  .grid-productos {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
