/* nosotros.scss */

/* Variables */
$color-sombra: rgba(0, 0, 0, 0.1);
$border-radius-imagen: 8px;

/* Mixin de sombra */
@mixin sombra($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}

.nosotros {
    padding: 40px 0; 
    h2 {
        margin-bottom: 20px;
    }

    #imagennosotros {
        display: block;
        margin: 0 auto 20px;
        max-width: 100%;
        height: auto;
        border-radius: $border-radius-imagen;
        transition: transform 0.3s ease;
        @include sombra(0, 4px, 10px, 0, $color-sombra);

        &:hover {
          transform: scale(1.02);
        }
    }

    
    p {
        margin-top: 20px;
        line-height: 1.6;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        border-radius: 15px;
        @include sombra(0, 4px, 12px, 0, rgba(0,0,0,0.3));
    }
}
